@keyframes slideDownFromTop {
  0% {
    transform: translateY(-100vh);
    /* Start from above the viewport */
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    /* End at its original position */
    opacity: 1;
  }
}

.card-animate {
  animation: slideDownFromTop 0.6s ease-out forwards;
}