@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.image-card {
  opacity: 0;
  /* Initially hidden */
}

.image-card.visible {
  animation: slide-in-bottom 0.5s ease-out forwards, fade-in 0.5s ease-out forwards;
}